        #map {
            height: 450px;
            width: 100%;
        };
        
        html, body {
            height: 100%;
            padding: 0px;
            margin: 0px;
        }
        .header{
            height:290px;
            line-height: 100px;
        }

        #logo-container {
            font-size: 80px;
            width: 200px;
            text-shadow: 2px 2px #00000099;
            
        }
        .description {
            
            font-size: 30px;
        }